---
export const prerender = true;

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import type { AlbumData } from "../types/api";

const timeline = [
  { company: "unethical", role: "Founder", date: "Current" },
  { company: "Dynastic Development Inc.", role: "Contractor", date: "2020" },
];

const albums = await fetch("https://astrological-api.fly.dev/music/albums");
const albumsData = (await albums.json()) as AlbumData;
---

<Layout title="Jason (uchks)" subtitle="20 year old Artist">
  <div class="mt-6 grid grid-cols-4 gap-4 md:gap-8">
    <div class="col-span-4 md:col-span-2">
      <Card title="Intro" titleIcon="tabler:face-id">
        Hi there! My name is Jason (uchks), and I'm a 20 year old
        who primarily does digital design. I occasionally take pictures
        on a Canon EOS Rebel T5, and do render tests on videos. My main focus right now is
        <strong>unethical.</strong> A lot of my developmental projects are made under unethical.
        Including my Lunar Client utility work, such as lcbud, multiverproxy, and lccll.sh.
      </Card>
    </div>
    <div class="col-span-4 md:col-span-1">
      <Card title="Music" titleIcon="tabler:music-heart">
        {
          albumsData.albums.slice(0, 3).map((album) => {
            return (
              <div class="flex">
                <img src={album.image} class="h-6 rounded-lg" /> {album.album}
              </div>
            );
          })
        }
      </Card>
    </div>
      <div class="col-span-4 md:col-span-1">
        <Card title="Experience" titleIcon={"tabler:3d-cube-sphere"}>
          <div
            class="flex flex-col gap-y-4 justify-around relative overflow-hidden"
          >
            <div
              class="absolute top-3 left-[7px] h-full w-[2px] bg-gradient-to-b from-gray-6 to-gray-6/10 z-0"
            >
            </div>
            {
              timeline.map((item, i) => (
                <div class="flex items-center space-x-4 relative z-10">
                  <div
                    class={`w-4 h-4 rounded-full flex items-center justify-center ${
                      item.date === "Current" ? "bg-green-11/70" : "bg-gray-11/70"
                    }`}
                  >
                    <div
                      class={`w-3 h-3 animate rounded-full ${
                        item.date === "Current"
                          ? "bg-green-11 animate-pulse"
                          : "bg-gray-11"
                      }`}
                    />
                  </div>
                  <div>
                    <p class="font-medium text-sm text-gray-12">{item.company}</p>
                    <p class="text-sm text-gray-10">
                      {item.role}
                      {item.date ? ` • ${item.date}` : ""}
                    </p>
                  </div>
                </div>
              ))
            }
          </div>
        </Card>
      </div>
    </div>
  <div class="mt-6 grid grid-cols-2 gap-4 md:gap-8">
    <div class="col-span-4 md:col-span-2">
      <Card
        title="Projects"
        titleIcon={"tabler:3d-cube-sphere"}
        subtitle="and more projects..."
        subtitleIcon={"tabler:arrow-up-right"}
        subtitleHref={`/projects`}
      >
        <div>unethical - a bunch of projects likely considered unethical.</div>
        <div>astrological - this website, a fork of landscape by Jack LaFond.</div>
        <div>malware remover - a p.o.c. chrome extension for removing malware (a la chrome_zoom).</div>
        <div>lccll.sh - a fork of flags.sh for generating a script to run Lunar Client via CLI.</div>
      </Card>
    </div>
  </div>
</Layout>
